.newsLetterWrapper {
  width: 100%;
}
.newsLetterWrapper .content {
  max-width: 1396px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
  background: #f4f9ff;
  border-radius: 75px;
  height: 292px;
  align-items: center;
  position: relative;
}
.newsLetterWrapper .textContent {
  padding-left: 52px;
}

.newsLetterWrapper .bottomBackground {
  width: 178px;
  height: 179.12px;
  position: absolute;
  left: 168px;
  background: #fff5db;
  border-radius: 0px 0px 0px 97px;
  bottom: 10px;
  z-index: -1;
}
.newsLetterWrapper .contactNowContent {
  width: 100%;
  max-width: 571px;
}
.newsLetterWrapper .inputWrapper {
  position: relative;
  z-index: 2;
}
.newsLetterWrapper .inputWrapper input {
  background: #ffffff;
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
  max-width: 571.86px;
  width: 100%;
  height: 80px;
  border: 0;
  padding-left: 40px;
}
.newsLetterWrapper .inputWrapper button {
  width: 231.35px;
  height: 64px;
  position: absolute;
  left: 328px;
  top: 9px;
  background: #2639ed;
  border-radius: 60px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.065em;
  color: #ffffff;
  z-index: 1;
  border: 0;
}
.newsLetterWrapper .inputWrapper input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #959595;
}
.newsLetterWrapper .dotsImg {
  position: absolute;
  right: 176px;
  top: -38px;
}
.newsLetterWrapper .contactUsBackground {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}
@media screen and (max-width: 1024px) {
  .newsLetterWrapper .textContent {
    padding-left: 4px;
  }
  .newsLetterWrapper .contactNowContent {
    width: 100%;
    max-width: 509px;
  }
  .newsLetterWrapper .inputWrapper input {
    max-width: 492.86px;
    width: 100%;
    height: 80px;
  }

  .newsLetterWrapper .inputWrapper button {
    width: 160.35px;
    left: 317px;
    top: 9px;
  }
}
@media screen and (max-width: 800px) {
  .newsLetterWrapper .inputWrapper button {
    left: 290px;
  }
}
@media screen and (max-width: 767px) {
  .newsLetterWrapper {
    padding: 0 15px;
  }
  .newsLetterWrapper .content {
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
  }
  .newsLetterWrapper .textContent {
    text-align: center;
    margin-bottom: 33px;
    padding: 0 20px;
  }
  .newsLetterWrapper .contactUsBackground {
    display: none;
  }
  .newsLetterWrapper .inputWrapper button {
    position: static;
    height: 45px;
    margin-top: 10px;
  }
  .newsLetterWrapper .inputWrapper input {
    height: 46px;
  }
  .newsLetterWrapper .inputWrapper {
    text-align: center;
  }
  .newsLetterWrapper .bottomBackground {
    left: 20px;
  }
  .newsLetterWrapper .dotsImg {
    right: 20px;
  }
}
